<div class="bg indigo">
  <div class="valign-wrapper">
    <div class="container white-text">
      <br>
      <h1 class="header center">APP</h1>
      <br><br>
      <div class="row">
      <div class="black col l8 push-l2 center z-depth-4" style="border-radius:10px">
            <div style="padding:120px 0">
                  <h1 class="header center nm">Sign In</h1>
                  <br>
                  <div class="grey-text l-text">with</div>
                  <br><br>
                  <a href="/google" class="btn btn-large z-depth-2 white">Google+</a>
            </div>
      </div>
      </div>
  </div>
  </div>
</div>

  <script>
    $(document).ready(function(){
      var h = $(this).height();
      $(".bg").css({
        "height": h+"px"
      });
    });
  </script>